
.select-dropdown {
  position: absolute;
  background-color: #363636;
  border-radius: 4px;
  }
  .select-dropdown select {
  font-size: 1rem;
  color: #ffffff;
  font-weight: bold;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  }
  .select-dropdown select:active, .select-dropdown select:focus {
  outline: none;
  box-shadow: none;
  }
  .select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid rgb(255, 255, 255);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: Lato, Arial;
  padding: 20px;
  /* background-color: #4b2e84; */
}

h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
}

button {
  font-size: 14;
  font-weight: bold;
  width: 80px;
  height: 30px;
  float: right;
  border-top: 5px solid #363636;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

div {
  column-rule: 4px double #ff00ff;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  font-weight: bold;
  font-size: 22;
}

#dorm_box{
  display: flex;
  flex-wrap: wrap;
}

.dorm{
  width:300px;
  margin:5px;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heart_button{
  color:red;
}

.comments-box{
  border: 1px black solid;
  margin: 10px;
}

.individual-comment-box{
  border: 1px black solid;
  margin: 3px;
}